fieldset#payment_koin:before { position:absolute; content: ''; width:200px; height:78px; overflow:hidden; background:url(../images/logo.png) no-repeat 0 0; }
fieldset#payment_koin div.comment { margin-top:40px; }
fieldset#payment_koin table { margin-top:10px; }
