<?php
/** @var Koin_Payment_Block_Form $this */
/** @var Koin_Payment_Helper_Data $_helper */
/** @var Mage_Core_Helper_Data $_coreHelper */
$_helper = Mage::helper('koin');
$_coreHelper = Mage::helper('core');

$installments = $this->getInstallments();
$total = $_helper->getSession()->getQuote()->getGrandTotal();

?>
<fieldset class="form-list">
    <ul id="payment_form_<?php echo $this->getMethodCode(); ?>" style="display:none">

        <li>
            <!--<img src="<?php echo $this->getSkinUrl('koin/images/logo.png'); ?>" alt="Koin" title="Koin"><br/>-->
            <p>
                <?php echo $this->__('Compre com KOIN e pague somente após receber seu pedido!');?>
                <br><br>
                <?php echo $this->__('É isso mesmo, o pedido chega primeiro e você recebe o boleto por e-mail com vencimento após a entrega.');?>
                <br><br>
                <?php if (count($installments) > 1): ?>
                    <smal class="koin-installments-message"><?php echo $this->__('E você ainda pode parcelar sua compra, escolha uma das opções abaixo.');?></smal>
                    <br>
                <?php endif;?>
            </p>
            <br>


            <div class="koin-installments" <?php echo (count($installments) <= 1) ? 'style="display:none"' : null; ?>>
                <?php if (count($installments) > 1): ?>
                    <div class="installments">
                        <select name="payment[koin_payment_type]" id="koin_payment_type" class="required-entry">

                            <?php foreach ($installments as $installment): ?>
                                <?php
                                $iof = $installment->iof ? $_coreHelper->formatPrice($installment->iof, false) : null;
                                $cet = $installment->cet ? number_format($installment->cet, 2, ',', '') . '%' : null;
                                $installmentsNumber = $installment->installments ? $installment->installments . 'x' : null;
                                $rates = $installment->rates ? number_format($installment->rates, 2, ',', '') . '%' : null;
                                $originalValue = $installment->originalValue ? $_coreHelper->formatPrice($installment->originalValue, false) : null;
                                $installmentValue = $installment->installmentValue ? $_coreHelper->formatPrice($installment->installmentValue, false) : null;
                                $orderValue = $installment->orderValue ? $_coreHelper->formatPrice($installment->orderValue, false) : null;

                                $firstDueDate = $installment->firstDueDate;
                                if ($firstDueDate) {
                                    $_ct = new Zend_Date(strtotime($firstDueDate));
                                    $firstDueDate = $_ct->toString('dd/MM/yyyy');
                                }

                                ?>
                                <option type="radio"
                                        class="koin_payment_type validate-one-required-by-name"
                                        iof="<?php echo $iof;?>"
                                        cet="<?php echo $cet;?>"
                                        installments="<?php echo $installmentsNumber;?>"
                                        rates="<?php echo $rates;?>"
                                        originalValue="<?php echo $originalValue;?>"
                                        installmentValue="<?php echo $installmentValue;?>"
                                        orderValue="<?php echo $orderValue;?>"
                                        firstDueDate="<?php echo $firstDueDate;?>"
                                        value="<?php echo $installment->paymentType;?>"><?php echo $installment->description; ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>

                    <div id="koin_order_info" class="koin_order_info" style="display:none">
                        <ul>
                            <li class="originalValue"><span><?php echo $this->__('Valor do pedido:'); ?></span> <small></small></li>
                            <li class="installments"><span><?php echo $this->__('Prazo:'); ?></span> <small></small></li>
                            <li class="installmentValue"><span><?php echo $this->__('Valor da parcela:'); ?></span> <small></small></li>
                            <li class="orderValue"><span><?php echo $this->__('Valor Total:'); ?></span> <small></small></li>
                            <li class="firstDueDate"><span><?php echo $this->__('1º Vencimento:'); ?></span> <small></small></li>
                            <li class="iof"><span><?php echo $this->__('IOF:'); ?></span> <small> </small></li>
                            <li class="cet"><span><?php echo $this->__('CET a.a:'); ?></span> <small></small></li>
                            <li class="rates"><span><?php echo $this->__('Taxa de juros a.m:'); ?></span> <small></small></li>
                        </ul>
                    </div>

                <?php endif; ?>
            </div>
            <input type="hidden" id="koin_original_value" name="payment[koin_original_value]" value=""/>
            <input type="hidden" id="koin_installments" name="payment[koin_installments]" value=""/>
            <input type="hidden" id="koin_installment_value" name="payment[koin_installment_value]" value=""/>
            <input type="hidden" id="koin_order_value" name="payment[koin_order_value]" value=""/>
            <input type="hidden" id="koin_first_due_date" name="payment[koin_first_due_date]" value=""/>
            <input type="hidden" id="koin_rates" name="payment[koin_rates]" value=""/>
            <input type="hidden" id="koin_iof" name="payment[koin_iof]" value=""/>
            <input type="hidden" id="koin_cet" name="payment[koin_cet]" value=""/>
            <input name="payment[koin_termo_aceite]" id="payment_koin_termo_aceite" value="0" type="hidden">
            <input name="payment[koin_fraud_id]" id="payment_koin_fraud_id" value="" type="hidden">

            <p class="koin-small">
                <?php echo $this->__('Pedido sujeito a análise de crédito. Ao comprar com KOIN você assume um compromisso e, para que não haja encargos, é importante que o pagamento seja feito até a data de vencimento, ok? Para mais informações acesse');?>
                <a href="https://www.koin.com.br" target="_blank">www.koin.com.br</a>.
            </p>

            <br>
            <p>
                <label>
                    <input autocomplete="off" class="required-entry check_termo" name="koin_termo_aceite" id="koin_termo_aceite" value="1" type="checkbox">
                    <?php echo $this->__('Li e aceito os');?> <a id="payment_koin_link_termo" href="javascript:void(0)"><?php echo $this->__('Termos e Condições de Uso'); ?></a>.
                </label>
            </p>
        </li>

    </ul>
</fieldset>

<style>
    .koin-small {
        font-size: 12px;
        font-style: italic;
    }
    .koin-installments {
        padding: 5px 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        max-width: 350px;
    }

    .koin-installments .installments li {
        padding: 5px 0;
    }
    .koin-installments .installments li.active {
        background-color: #aaa;
    }
    .koin-installments .koin_order_info span{
        display: inline-block;
    }
    .koin-installments .koin_order_info small{
        font-weight: bold;
        float: right;
    }

    .koin-installments .koin_order_info {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
    }
</style>

<script type="text/javascript">
    //<![CDATA[
    var scriptKoin = document.createElement('script');
    scriptKoin.type = 'text/javascript';
    scriptKoin.src = 'https://resources.koin.com.br/scripts/koin.min.js';
    document.getElementsByTagName('head')[0].appendChild(scriptKoin);
    $('koin_termo_aceite').observe('change', function () {
        if (this.checked) {
            document.getElementById('payment_koin_termo_aceite').value = '1';
        } else {
            document.getElementById('payment_koin_termo_aceite').value = '0';
        }
    });

    //    $$('.koin_payment_type').each(function(el){
    $$('#koin_payment_type').each(function(el){
        el.observe('change', function() {

            var that = $('koin_payment_type')[$('koin_payment_type').selectedIndex];

            $('koin_order_info').hide();

            $$('#koin_order_info .originalValue small').first().update(that.getAttribute('originalValue'));
            $$('#koin_order_info .installments small').first().update(that.getAttribute('installments'));
            $$('#koin_order_info .installmentValue small').first().update(that.getAttribute('installmentValue'));
            $$('#koin_order_info .orderValue small').first().update(that.getAttribute('orderValue'));
            $$('#koin_order_info .firstDueDate small').first().update(that.getAttribute('firstDueDate'));
            $$('#koin_order_info .rates small').first().update(that.getAttribute('rates'));
            $$('#koin_order_info .iof small').first().update(that.getAttribute('iof'));
            $$('#koin_order_info .cet small').first().update(that.getAttribute('cet'));

            $('koin_original_value').value = that.getAttribute('originalValue');
            $('koin_installments').value = that.getAttribute('installments');
            $('koin_installment_value').value = that.getAttribute('installmentValue');
            $('koin_order_value').value = that.getAttribute('orderValue');
            $('koin_first_due_date').value = that.getAttribute('firstDueDate');
            $('koin_rates').value = that.getAttribute('rates');
            $('koin_iof').value = that.getAttribute('iof');
            $('koin_cet').value = that.getAttribute('cet');


            if (that.value != "<?php echo Koin_Payment_Helper_Api::PAYMENT_TYPE;?>") {
                $('koin_order_info').show();
            }
        });
    });

    $('payment_koin_link_termo').observe('click', function () {
        var url = 'https://www.koin.com.br/termos-e-condicoes/';
        window.open(url, 'Termos de Uso Koin', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=500,height=600');
    });

    setTimeout(function () {
        GetKoinFraudID(function (guid) {
            document.getElementById('payment_koin_fraud_id').value = guid;
        });
    }, 1500);
    //]]>
</script>