<img src="<?php echo $this->getSkinUrl('koin/images/logo.png'); ?>" alt="KOIN" title="KOIN" />
<?php
if ($_info = $this->getInfo()):?>
    <?php
    $_order = $_info->getOrder();
    if ($_order):
        $payment = $_info->getOrder()->getPayment();
        $status = $payment->getAdditionalInformation('koin_code');
        $message = $payment->getAdditionalInformation('koin_message');
        ?>


        <div class="koin-info">
            <p><b>Código: </b><?php echo $status ?></p>
            <?php if ($_order->getState() != 'canceled' && $_order->getState() != 'refunded'): ?>
                <p><b>Status: </b><?php echo $message ?></p>
            <?php endif;?>

            <?php if ($payment->getAdditionalInformation('koin_original_value')): ?>
                <p class="originalValue"><strong><?php echo $this->__('Valor Parcelado:'); ?></strong> <small><?php echo $payment->getAdditionalInformation('koin_original_value'); ?></small></p>
            <?php endif;?>

            <?php if ($payment->getAdditionalInformation('koin_installments')): ?>
                <p class="installments"><strong><?php echo $this->__('Prazo:'); ?></strong> <small><?php echo $payment->getAdditionalInformation('koin_installments'); ?></small></p>
            <?php endif;?>

            <?php if ($payment->getAdditionalInformation('koin_installment_value')): ?>
                <p class="installmentValue"><strong><?php echo $this->__('Valor da Parcela:'); ?></strong> <small><?php echo $payment->getAdditionalInformation('koin_installment_value'); ?></small></p>
            <?php endif;?>

            <?php if ($payment->getAdditionalInformation('koin_order_value')): ?>
                <p class="orderValue"><strong><?php echo $this->__('Valor Total:'); ?></strong> <small><?php echo $payment->getAdditionalInformation('koin_order_value'); ?></small></p>
            <?php endif;?>

            <?php if ($payment->getAdditionalInformation('koin_first_due_date')): ?>
                <p class="firstDueDate"><strong><?php echo $this->__('1º Vencimento:'); ?></strong> <small><?php echo $payment->getAdditionalInformation('koin_first_due_date'); ?></small></p>
            <?php endif;?>

            <?php if ($payment->getAdditionalInformation('koin_rates')): ?>
                <p class="rates"><strong><?php echo $this->__('Taxa de juros a.m:'); ?></strong> <small><?php echo $payment->getAdditionalInformation('koin_rates'); ?></small></p>
            <?php endif;?>

            <?php if ($payment->getAdditionalInformation('koin_iof')): ?>
                <p class="iof"><strong><?php echo $this->__('IOF:'); ?></strong> <small><?php echo $payment->getAdditionalInformation('koin_iof'); ?></small></p>
            <?php endif;?>

            <?php if ($payment->getAdditionalInformation('koin_cet')): ?>
                <p class="cet"><strong><?php echo $this->__('CET:'); ?></strong> <small><?php echo $payment->getAdditionalInformation('koin_cet'); ?></small></p>
            <?php endif;?>

        </div>


        <style>
        .koin-info {
            margin: 10px 0;
            padding: 10px 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        </style>
    <?php endif;?>
<?php endif;?>
